#recordsTable_wrapper {
  padding: 0;
}

#recordsTable_wrapper #recordsTable_info {
  float: left;
}

#recordsTable_wrapper #recordsTable_length {
  float: left;
  padding-top: 0.68em;
  margin-left: 1em;
}

.success-div,
.failed-div,
.report-div {
  text-align: center;
}

.success-div {
  color: #94d82d;
}

.failed-div {
  color: #f03e3e;
}

.case.btn {
  background-color: #a2a5a7;
  border-color: #a2a5a7;
}

#statusPieDiv {
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-top: 3px solid #d2d6de;
  border-top-color: #63a7f1;
  margin-top: 5px;
}