#recordsTable_wrapper {
  padding: 0;
}

#recordsTable_wrapper #recordsTable_info {
  float: left;
}

#recordsTable_wrapper #recordsTable_length {
  float: left;
  padding-top: 0.68em;
  margin-left: 1em;
}